@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@600;900&display=swap'); /* font-family: 'Press Start 2P', cursive; --  font-family: 'Source Code Pro', monospace;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

.container {
    width: 1040px;
    max-width: 100%;
    margin: auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
}

.col-1 {width: 8.33%; }
.col-2 {width: 16.66%; }
.col-3 {width: 24.99%; }
.col-4 {width: 33.32%; }
.col-5 {width: 41.65%; }
.col-6 {width: 49.98%; }
.col-7 {width: 58.31%; }
.col-8 {width: 66.64%; }
.col-9 {width: 74.97%; }
.col-10 {width: 83.3%; }
.col-11 {width: 91.63%; }
.col-12 {width: 99.96%; }

nav {
    font-size: 30px;
    padding: 50px;
}

nav #logo {
    font-weight: bolder;
    color: #1eff00;
    font-size: 50px;
}

#logo {
    -webkit-text-stroke: 2px rgb(58, 7, 58);
    text-stroke: 2px rgb(58, 7, 58);
}

nav div#links {
    float: right;
}

nav div#links a {
    text-decoration: none;
}

nav span {
    margin: 50px;
    color: #f9f9f9;
}

nav span:hover {
    margin: 50px;
    color: #1eff00;
    transition: 1s;
}

nav, main {
    background-image: linear-gradient(to right, #ae2d91 , rgb(102, 20, 102));
}

#inicio {
    margin-left: 60px;
}

#semanaacademica {
    margin-top: 150px; 
    font-size: 50px;
}

#compinfo {

}
