@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:wght@600;900&display=swap'); /* font-family: 'Press Start 2P', cursive; --  font-family: 'Source Code Pro', monospace;*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

body {
    background-image: linear-gradient(to right, #1d1ab3 , rgb(141, 3, 168));
}

.banner {
    background-image: linear-gradient(to right, #1d1ab3 , rgb(141, 3, 168));
    position: absolute;
    height: 450px;
}

nav {
    background-image: linear-gradient(to right, #1d1ab3 , rgb(141, 3, 168));
}

nav {
    font-size: 30px;
    padding: 50px;
}

#logo img {
    object-fit: cover;
    height: 200px;
}

#logo {
    display: inline-block;
    transition: all 0.5s;
}

#logo:hover {
    transform: scale(1.3);
}

nav span a {
    text-decoration: none;
    color: #f9f9f9;
    display: inline-block;
}

nav span a:hover {
    transition: all 1s;
    color: rgb(209, 37, 209);
}

nav #logo {
    font-weight: bolder;
    color: rgb(217, 137, 248);
    font-size: 50px;
}

nav ul#links {
    float: right;
    padding-top: 70px;
}

nav li {
    margin-left: 75px;
    display: inline-block;
}

nav ul li a {
    color: #f9f9f9;
    text-decoration: none;
}


nav ul li:hover  {
    transition: all 1s;
    transform: scale(1.3);
}

div#inicio h1 { 
    font-size: 50px;
    box-shadow: .6em 0 0 rgb(217, 137, 248);
    width: 17ch;
    overflow: hidden;
    color: #FFF;
    white-space: nowrap;
    animation: caret .3s step-end infinite alternate,
               type 2s steps(17, end);
  }
  
  @keyframes type {
    0% {
      width: 0;
     
    }
  
  }

#inicio {
    height: 100px;
    padding-top: 0px;
    padding-left: 50px;
}

div#inicio h3 {
    border: solid;
    padding: 10px;
    text-align: center;
}

.container {
    width: 1300px;
    max-width: 100%;
    margin: auto;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
}

.col-1 {width: 8.33%; }
.col-2 {width: 16.66%; }
.col-3 {width: 24.99%; }
.col-4 {width: 33.32%; }
.col-5 {width: 41.65%; }
.col-6 {width: 49.98%; }
.col-7 {width: 58.31%; }
.col-8 {width: 66.64%; }
.col-9 {width: 74.97%; }
.col-10 {width: 83.3%; }
.col-11 {width: 91.63%; }
.col-12 {width: 99.96%; }

#inicio {
    margin-left: 60px;
    color: #f9f9f9;
}

#preencher {
    background-color: white;
    height: 450px;
}

#patrocinadores {
    background-color: white;
    height: 425px;
    text-align: center;
    margin-top: 50px;

}

#patrocinadores h1 {
    margin-top: 20px;
    font-size: 50px;
}

#patrocinadores img:hover {
    transition: all 1s;
    transform: scale(1.2);
}

#img1 {
    height: 175px;
    width: 390px;
    margin-right: 50px;
    margin-bottom: 40px;
}

#img2 {
    margin-top: 20px;
    margin-right: 50px;
    height: 300px;
    width: 300px;
}

#img3 {
    height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

#jogos {
    height: 1000px;
    color: white;

}

#jogos h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 60px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 70px;
}

.cont {
    width: 100%;
    margin-bottom: 90px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 65%;
    height: fit-content;
    margin-bottom: 25px;
    border-radius: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 700px;
}

#maratona {
    color: white;
    text-align: center;
    height: 650px;

}

#maratona h1 {
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    padding-top: 40px;
    position: absolute;
    padding-top: 300px;
    padding-left: 25%;
    z-index: 3;
    text-shadow: black 0.1em 0.1em 0.2em
}

#maratona h2 {
    font-size: 20px;
    padding-top: 70px;
    position: absolute;
    padding-top: 400px;
    padding-left: 28%;
    z-index: 3;
    text-shadow: black 0.5em 0.2em 0.3em
}

#cronograma {
    text-align: center;
    color: white;
    height: 400px;
    margin-bottom: 300px;
}

#cronograma h1 {
    font-size: 40px;
    padding-top: 30px;
}

#cronograma table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 300px;
}

#cronograma table, th, td {
    border: 1px solid #ffffff;
}

#cronograma th, td {
    padding: 10px;
    text-align: left;
}


#fotos1 {
   
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

#fotos {
    
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contain {
    text-align: center;
}

.contain img {
    max-width: 100%;
    height: 400px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.butt {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}

.butt:hover {
    background-color: #2980b9;
    transform: scale(1.3);
    transition: all 2s;
}
/* cadastro */

#cadastro {
    border-radius: 5px;
    color: #FFF;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    border-color: #FFF;
    display: block;
    text-align: center;
}

#cadastro:hover {
    border:solid 1px;
    border-radius: 10px;
    color: #FFF;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    border-color: #FFF;
}

.banner2 {
    background-image: linear-gradient(to right, #1d1ab3 , rgb(141, 3, 168));
    width: 100%;
}

form {
    color: #f9f9f9;
}

form fieldset {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 230px;
}

form legend {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #f9f9f9;
}

.input-container {
    margin-bottom: 10px;
 
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.input-container input, select {
    height: 35px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
}

button {
    background-color: #9900ff;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer; 
  }
  
  button[type="reset"] {
    background-color: #ff0000;
  }
  
  button:hover {
    background-color: #730e97;
  }

  button[type="reset"]:hover {
    background-color: #d51313;
  }

/* Rodapé */

footer {
    height: 100px;
}

footer p {
    color: white;
    padding-top: 40px;
    font-size: 20px;
    text-align: center;
}

.computador {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
    display: inline-block;

}


